<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Minion</title>
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <style>
  .player-buttons a.button.small {
    font-size: 21px;
  }
  </style>
</head>
<body>


  <div class="row">
    <div class="twelve columns">
      <nav class='top-bar'>
        <ul>
          <li class='name'><h1><a id='status' class='filename'>Not playing</a></h1></li>
        </ul>
        <ul class='right player-controls'>
          <li><a href='/player/backward'>&laquo; Skip</a></li>
          <li><a href='/player/play'>&#9656; Play</a></li>
          <li><a href='/player/quit'>&#9632; Stop</a></li>
          <li><a href='/player/forward'>Skip &raquo;</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class='row'>
    <div class='twelve columns'>
      <ul class='breadcrumbs'>
        <li class='unavailable'><a>media</a></li>
        <li><a href='/'>zeus</a></li>
      <% path = '/' %>
      <% @loc.each do |folder| %>
        <% path += "#{folder}/" %>
        <li><a href="<%= URI.escape path %>"><%= folder %></a></li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class='row'>
  <% @folders.each do |folder| %>
    <div class='six columns'>
      <div class='panel'>
        <span class='label'>FOLDER</span>
        <h5><a href="<%= URI.escape "#{path}#{folder}" %>"><%= folder %></a></h5>
      </div>
    </div>
  <% end %>
  </div>

  <div class='row'>
  <% @files.each do |file| %>
    <div class='six columns'>
      <div class='panel'>
        <h5>
          <a class='play-file' data-file="<%= URI.escape(path + file) %>" href='javascript:void(0);'>
            <%= file %>
          </a>
        </h5>
      </div>
    </div>
  <% end %>
  </div>

</div>
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type='text/javascript'>
    $('.player-controls a').on('click', function(ev){
      ev.preventDefault();
      $.post($(this).attr('href'), function(data){
        console.log(data);
      });
    });
    $('.play-file').on('click', function(ev){
      $.post( "/play-file?file=" + $(this).data('file'),
        function(data){
          $('#status').html(data);
        }
      );
    });
    setInterval(function(){
        $.get('/status').
          done(function(data){
            $('#status').html(data);
          }).
          fail(function(){
            $('#status').html("Not playing");
          });
      }, 5000);
  </script>
</body>
</html>